<li class='toy-list-item'
  data-toy-id="<%=toy.escape('id')%>"
  data-pokemon-id="<%=toy.escape('pokemon_id')%>">
  Name: <%=toy.escape('name')%>
  Happiness: <%=toy.escape('happiness')%>
  Price: <%=toy.escape('price')%>
</li>
